<div class="row">
  <div class="span12">
    <div class="widget widget-table
  ">
      <div class="widget-header"> <i class="icon-th-list"></i>
        <h3>Assign Vouchers</h3>
      </div>
      <!-- /widget-header -->
      <div class="widget-content" style="padding:10px;" ng-controller="assignVouchersCtrl">

        <table ng-table="AssignVouchersList" show-filter="true" class="table table-striped table-bordered">
          <tr ng-repeat="vouchers in $data">
            <td data-title="'ID'">
              {{$index+1}}
            </td>
            <td data-title="'Voucher Id'" sortable="'CoupanSerNo'" filter="{ 'CoupanSerNo': 'text' }">
              {{vouchers.CoupanSerNo}}
            </td>
            <td data-title="'Voucher Code'" sortable="'CouponCode'" filter="{ 'CouponCode': 'text' }">
              {{vouchers.CouponCode}}
            </td>
            <!-- <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }">
              {{vouchers.Status}}
            </td> -->
            <td data-title="'Distributor Name'">
              <select ng-model="distributorname" ng-options="x.Distributor_name for x in distributor_drop" name="distributor_name" ng-change="assignVouchers(vouchers,distributorname)">
                    </select>
              <!-- {{vouchers.distributor_name}} -->
            </td>

            <!-- <td data-title="'Assign Vouchers'">
              <button type="submit" class="btn  btn-success" name="submit" value="Assign">Assign</button>
            </td> -->
            <!-- <td data-title="'Action'">
              <a ui-sref="customer.edit({id: customer.id})"><button class="btn  btn-success">View</button></a>
            </td> -->
          </tr>
        </table>
            <button type="submit" class="btn  btn-success" name="submit" value="Assign" ng-click="assignToDb()">Assign</button>
      </div>
      <!-- /widget-content -->
    </div>
    <!-- /widget -->
  </div>

</div>
<!-- /row -->
