<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span3">
                        <h4>About Sugal & Damani</h4>
                        <ul>
                            <li><a href="javascript:;">sugaldamani.com</a></li>
                            <li><a href="javascript:;">File Tax</a></li>
                            <li><a href="javascript:;">ASP and GSP</a></li>
                            <li><a href="javascript:;">TRP Model</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>EULA</h4>
                        <ul>
                            <li><a href="javascript:;">Read License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>CA Panel</h4>
                        <ul>
                            <li><a href="javascript:;">Easy way to maintain</a></li>
                            <li><a href="javascript:;">Email Notification</a></li>
                            <li><a href="javascript:;">GST Seminar</a></li>
                            <li><a href="javascript:;">Latest Seminar</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span6"> &copy; 2017 <a href="http:/sugaldamani.com/">Sugaldamani.com</a>. </div>
        <!-- <div class="span6"> Developed by <a href="http:/sugaldamani.com/">Jay Dwivedi</a>. </div> -->
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>
<!-- /footer -->
